@charset "UTF-8";
page {
  background-color: #FFFFFF;
}

/* 设置不可滑动 */
.nonSliding {
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.uniyy-page-head {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

/* 自定义头部 */
.custom-header {
  padding-top: 90upx !important;
  /* padding-bottom: 140upx!important; */
}

/* 带底部tabar */
.takebar {
  padding-bottom: 140upx !important;
}

.row {
  display: flex;
  box-sizing: border-box;
}

.col {
  width: 100%;
}

.col-2 {
  flex-direction: row;
  flex: 1;
  width: 50%;
}

.col-3 {
  flex-direction: row;
  flex: 1;
  width: 33.3%;
}

.col-4 {
  flex-direction: row;
  flex: 1;
  width: 25%;
}

.col-6 {
  width: 60%;
}

.col-4 {
  width: 40%;
}

.right {
  text-align: right;
}

.numberright {
  display: flex;
  justify-content: flex-end;
}

.center {
  text-align: center;
}

.marR40 {
  margin-right: 40upx;
}

.marB20 {
  margin-bottom: 20upx;
}

.PadB20 {
  padding-bottom: 20upx;
}

.h39 {
  height: 78upx;
  line-height: 78upx;
}

.pad {
  padding: 20upx 30upx;
}

.w82 {
  width: 164upx;
}

.fontsize12 {
  font-size: 24upx;
}

.fillet39 uni-button[type=primary] {
  border-radius: 78upx;
  line-height: 78upx;
}

.fillet39 uni-button[type=default] {
  border-radius: 78upx;
  line-height: 78upx;
}

.marR8 {
  margin-right: 16upx;
}

.marR10 {
  margin-right: 16upx;
}

.col-70 {
  width: 70%;
}

.col-15 {
  width: 15%;
}

.col-15 {
  width: 15%;
}

.uni-flex-column {
  flex-direction: column;
}

.w100 {
  width: 100%;
}

/* 占位 */
.seizeSeat {
  width: 100%;
  height: 40upx;
  background-color: #FFFFFF;
}

.uni-list-reset {
  background-color: #FFFFFF;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  font-size: 30upx;
  line-height: 1.8;
  /* padding: 0 15upx; */
}

.uni-list-reset .uni-list-cell-pd {
  position: relative;
  display: block;
  padding: 22upx 30upx;
  padding-left: 120upx;
}

.footer {
	border-top: 1upx solid #EFEFEF;
	background-color: #FFFFFF;
  width: 100%;
  height: 120upx;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 998;
}

.footer .halfline {
  width: 100%;
  background: #EFEFEFFF;
  height: 2upx;
  transform: scaleY(0.5);
}

.borderB {
  border-bottom: 1upx solid #EFEFEF;
}

/* -----------------------------------订单公共样式---------------------------------- */
/* 文字尺寸 */
/* 背景颜色 */
/* 文字颜色 */
.pdfbody {
  width: 100%;
  height: 300upx;
}

.printbtnbd {
  width: 100%;
  box-sizing: border-box;
  height: 20vh;
  padding: 0 30upx;
}
.printbtnbd .printbtn {
  width: 100%;
  text-align: center;
  height: 70upx;
  line-height: 70upx;
  border-radius: 70upx;
  background: #1371f7;
  color: #FFFFFF;
  font-size: 34upx;
}

.printpopup-con {
  background-color: #FFFFFF;
}
.printpopup-con .list {
  text-align: center;
  padding: 28upx 0;
  font-size: 34upx;
  color: #17212E;
  border-bottom: 1upx solid #EFEFEF;
}
.printpopup-con .closeprintpopup {
  width: 100%;
  height: 100upx;
  line-height: 100upx;
  text-align: center;
  font-size: 34upx;
  color: #17212E;
  border-top: 18upx solid #F5F5F5;
}

.n_customer .n_customerlist {
  padding: 0 30upx;
}
.n_customer .n_customerlist .n_customercell {
  color: #17212E;
  padding: 34upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.n_customer .n_customerlist .n_customercell .detials {
  flex: 1;
}
.n_customer .n_customerlist .n_customercell .detials .name {
  font-family: pingFangSC-Medium;
  font-size: 34upx;
}
.n_customer .n_customerlist .n_customercell .detials .name .sex {
  color: #70767F;
  font-size: 22upx;
}
.n_customer .n_customerlist .n_customercell .detials .phone {
  font-size: 30upx;
}
.n_customer .n_customerlist .n_customercell .data {
  width: 130upx;
  color: #C3C3C3;
  font-size: 24upx;
}

.submitorder-content {
  color: #17212E;
  font-size: 30upx;
}
.submitorder-content .uni-input {
  padding: 0;
  font-size: 30upx;
}
.submitorder-content .blueline-title {
  background-color: #FFFFFF;
  border-bottom: 1upx solid #EFEFEF;
  padding: 18upx 0;
  padding-left: 50upx;
  padding-right: 30upx;
  position: relative;
  color: #17212E;
  font-family: pingFangSC-Medium;
}
.submitorder-content .blueline-title .blueline-infor {
  font-size: 34upx;
  height: 48upx;
  line-height: 48upx;
}
.submitorder-content .blueline-title .blueline {
  position: absolute;
  top: 24upx;
  left: 30upx;
  width: 6upx;
  height: 33upx;
  border-radius: 3upx;
  background-color: #1371F7;
}
.submitorder-content .blueline-title .blueline-icons {
  width: 48upx;
  height: 48upx;
}
.submitorder-content uni-button[size=mini].yybtn {
  padding: 0 22upx;
  font-size: 30upx;
  height: 50upx;
  line-height: 50upx;
  border-radius: 50upx;
  background-color: #F9F9F9;
}
.submitorder-content uni-button[size=mini].yybtn + uni-button[size=mini].yybtn {
  margin-left: 20upx;
}
.submitorder-content uni-button[size=mini].yybtn:after {
  border: none;
}
.submitorder-content uni-button[size=mini].on {
  color: #1371F7;
  background: rgba(19, 113, 247, 0.08);
  font-family: pingFangSC-Medium;
}
.submitorder-content .bottomgroup .bottom-price {
  background-color: #FFFFFF;
  border-bottom: 1upx solid #EFEFEF;
  padding: 20upx 30upx;
}
.submitorder-content .bottomgroup .bottom-price .total {
  color: #70767F;
  font-size: 20upx;
}
.submitorder-content .bottomgroup .bottom-price .total .price-icon {
  margin-left: 8upx;
  color: #F57C40;
}
.submitorder-content .bottomgroup .bottom-price .total .price {
  font-size: 34upx;
  color: #F57C40;
  font-family: pingFangSC-Medium;
}
.submitorder-content .bottomgroup .bottom-price .discount {
  color: #262626;
}
.submitorder-content .bottomgroup .bottom-price .category {
  color: #70767F;
  font-size: 24upx;
}
.submitorder-content .bottomgroup .bottom-price .category .check {
  margin-left: 16upx;
  color: #1371F7;
  font-size: 24upx;
}
.submitorder-content .bottomgroup .bottomgroupbtns {
  background-color: #FFFFFF;
}
.submitorder-content .bottomgroup .bottomgroupbtns .selectAllbtn {
  height: 98upx;
  line-height: 98upx;
  padding-left: 30upx;
  font-size: 30upx;
}
.submitorder-content .bottomgroup .bottomgroupbtns .deletebtn {
  width: 40%;
  text-align: center;
  background-color: #F9F9F9;
  color: #17212E;
  font-size: 34upx;
  height: 98upx;
  line-height: 98upx;
}
.submitorder-content .bottomgroup .bottomgroupbtns .comfirmbtn {
  width: 60%;
  text-align: center;
  background-color: #1371F7;
  color: #FFFFFF;
  font-size: 34upx;
  height: 98upx;
  line-height: 98upx;
}
.submitorder-content .commom-content .content {
  background-color: #ffffff;
  padding: 0 30upx;
}
.submitorder-content .commom-content .content .content-title {
  font-size: 26upx;
  color: #70767F;
  padding: 16upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.submitorder-content .commom-content .content .optionaltitle {
  padding: 10upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.submitorder-content .commom-content .content .optionaltitle .txt {
  color: #70767F;
  font-size: 26upx;
  margin-left: 32upx;
}
.submitorder-content .commom-content .content .list .split-title {
  color: #70767F;
  font-size: 26upx;
}
.submitorder-content .commom-content .content .list .cell {
  padding: 28upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.submitorder-content .commom-content .content .list .cell .notesL {
  width: 22%;
  font-size: 30upx;
}
.submitorder-content .commom-content .content .list .cell .notesR {
  font-size: 30upx;
  width: 78%;
}
.submitorder-content .commom-content .content .list .cell .addressL {
  width: 24%;
  font-size: 30upx;
}
.submitorder-content .commom-content .content .list .cell .addressR {
  width: 76%;
  box-sizing: border-box;
  font-size: 30upx;
}
.submitorder-content .commom-content .content .list .cell .Required {
  position: relative !important;
}
.submitorder-content .commom-content .content .list .cell .Required .Required-star {
  position: absolute !important;
  top: 0upx !important;
  left: -20upx !important;
  color: red !important;
}
.submitorder-content .commom-content .content .list .cell:last-child {
  border: none;
}
.submitorder-content .commom-content .content .list .remarks {
  color: #70767F;
  font-size: 20upx;
}
.submitorder-content .turntootherpage, .submitorder-content .unit {
  position: relative;
  padding-right: 46upx;
  color: #70767F;
}
.submitorder-content .turntootherpage .icon-unit, .submitorder-content .unit .icon-unit {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30upx;
  color: #70767F;
  width: 40upx;
  line-height: 38upx;
  height: 38upx;
}
.submitorder-content .turntootherpage .icon-next, .submitorder-content .turntootherpage .icon-unit, .submitorder-content .unit .icon-next, .submitorder-content .unit .icon-unit {
  display: block;
  position: absolute;
  top: 4upx;
  right: 0;
  width: 40upx;
  height: 38upx;
}
.submitorder-content .goodsinfolist {
  background-color: #FFFFFF;
  padding-top: 24upx;
  padding-left: 80upx;
  position: relative;
}
.submitorder-content .goodsinfolist .checkboxs {
  position: absolute;
  left: 0;
  top: 64upx;
  width: 44upx;
  height: 44upx;
}
.submitorder-content .goodsinfolist .newcarcell_f {
  margin-bottom: 26upx;
  border-bottom: 1upx solid #F9F9F9;
}
.submitorder-content .goodsinfolist .newcarcell_f .goodavatar {
  width: 156upx;
  height: 116upx;
  overflow: hidden;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.submitorder-content .goodsinfolist .newcarcell_f .carinfo {
  width: 610upx;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.submitorder-content .goodsinfolist .newcarcell_f .carinfo .carname {
  font-size: 26upx;
  color: #17212E;
  line-height: 36upx;
  margin-bottom: 14upx;
}
.submitorder-content .goodsinfolist .newcarcell_f .carinfo .listinfo {
  font-size: 24upx;
  color: #70767F;
  font-family: pingFangSC-regular;
  margin-bottom: 6upx;
}
.submitorder-content .goodsinfolist .newcarcell_f .carinfo .listinfo .title {
  display: inline-block;
  width: 115upx;
  color: #C3C3C3;
  margin-right: 16upx;
}
.submitorder-content .related-old-order {
  background-color: #FFFFFF;
  margin-bottom: 20upx;
}
.submitorder-content .related-old-order .headtitle {
  padding: 24upx 30upx;
  border-bottom: 1upx solid #F5F5F5;
}
.submitorder-content .related-old-order .headtitle .headtitleL {
  font-size: 30upx;
  color: #17212E;
  height: 48upx;
  line-height: 48upx;
}
.submitorder-content .related-old-order .headtitle .icon-qiehuan {
  height: 48upx;
  width: 48upx;
}
.submitorder-content .related-old-order .old-order-list {
  color: #17212E;
}
.submitorder-content .related-old-order .old-order-list .cell-1 {
  width: 100%;
  height: 40upx;
  margin-bottom: 24upx;
}
.submitorder-content .related-old-order .old-order-list .cell-1 .ordernum {
  float: left;
  font-size: 26upx;
}
.submitorder-content .related-old-order .old-order-list .cell-1 .orderstate {
  float: right;
  font-size: 26upx;
  color: #F57C40;
}
.submitorder-content .related-old-order .old-order-list .name {
  font-family: pingFangSC-Medium;
  margin-bottom: 16upx;
  font-size: 34upx;
}
.submitorder-content .related-old-order .old-order-list .carinfo {
  font-size: 30upx;
  margin-bottom: 24upx;
  line-height: 42upx;
}
.submitorder-content .related-old-order .old-order-list .shopnums {
  width: 100%;
  height: 30upx;
}
.submitorder-content .related-old-order .old-order-list .shopnums .nums {
  float: left;
  color: #70767F;
  font-size: 26upx;
}
.submitorder-content .related-old-order .old-order-list .shopnums .nums .num {
  color: #17212E;
}
.submitorder-content .related-old-order .old-order-list .shopnums .date {
  float: right;
  font-size: 24upx;
  color: #C3C3C3;
}
.submitorder-content .customer-Infor {
  background-color: #FFFFFF;
  margin-bottom: 20upx;
}
.submitorder-content .customer-Infor .content {
  padding: 0 30upx;
}
.submitorder-content .customer-Infor .content .cell-headportrait {
  padding: 32upx 0;
  border-bottom: 1upx solid #F5F5F5;
}
.submitorder-content .customer-Infor .content .cell-headportrait .character {
  display: block;
  width: 84upx;
  height: 84upx;
  border-radius: 50%;
  margin-right: 20upx;
}
.submitorder-content .customer-Infor .content .cell-headportrait .name {
  height: 84upx;
  line-height: 84upx;
  color: #17212E;
  font-size: 34upx;
  font-family: pingFangSC-Medium;
}
.submitorder-content .customer-Infor .content .info {
  padding-top: 26upx;
  padding-bottom: 28upx;
  border-bottom: 1upx solid #F5F5F5;
}
.submitorder-content .customer-Infor .content .info .infoL {
  color: #70767F;
  font-size: 30upx;
}
.submitorder-content .customer-Infor .content .info .infoR {
  color: #17212E;
  font-size: 30upx;
}
.submitorder-content .customer-Infor .content .info .addressL {
  width: 30%;
}
.submitorder-content .customer-Infor .content .info .Required {
  position: relative !important;
}
.submitorder-content .customer-Infor .content .info .Required .Required-star {
  position: absolute !important;
  top: 0upx !important;
  left: -20upx !important;
  color: red !important;
}
.submitorder-content .customer-Infor .content .info .addressR {
  width: 70%;
}
.submitorder-content .customer-Infor .content .ownerinfo {
  color: #17212E;
  font-size: 26upx;
}
.submitorder-content .customer-Infor .content .ownerinfo .title {
  padding: 18upx 0;
  border-bottom: 1upx solid #F5F5F5;
}
.submitorder-content .customer-Infor .content .ownerinfo .list {
  padding-top: 26upx;
}
.submitorder-content .customer-Infor .content .ownerinfo .list .cell {
  padding-bottom: 22upx;
}
.submitorder-content .customer-Infor .content .ownerinfo .list .cell .cellL {
  color: #70767F;
}
.submitorder-content .Commodity-infor-nonvehical .followCar {
  padding-top: 60upx;
  padding-bottom: 34upx;
  border-bottom: 1upx solid #EFEFEF;
}
.submitorder-content .Commodity-infor-nonvehical .followCarbtn {
  display: inline-block;
  width: 60upx;
  height: 32upx;
  line-height: 32upx;
  text-align: center;
  color: #C3C3C3;
  font-size: 22upx;
  border-radius: 4upx;
  border: 1upx solid #E1E1E1;
  margin-right: 20upx;
}
.submitorder-content .Commodity-infor-nonvehical .on {
border:2upx solid  #007AFF;
  color: #007AFF;
  
}
.submitorder-content .Commodity-infor-nonvehical .stockinfo {
  margin-left: 20upx;
  font-size: 26upx;
  color: #70767F;
}
.submitorder-content .Commodity-infor-nonvehical .subtotal {
  width: 100%;
  padding: 18upx 0;
}
.submitorder-content .Commodity-infor-nonvehical .subtotal .subtotaltxt {
  color: #70767F;
  font-size: 20upx;
  margin-right: 8upx;
}
.submitorder-content .Commodity-infor-nonvehical .subtotal .subtotalicon {
  color: #F57C40;
  font-size: 20upx;
}
.submitorder-content .Commodity-infor-nonvehical .subtotal .subtotalmoney {
  color: #F57C40;
  font-size: 34upx;
}
.submitorder-content .Commodity-infor-nonvehical .number-box {
  width: 170upx;
  height: 44upx;
  border: 2upx solid #E1E1E1;
  border-radius: 2upx;
}
.submitorder-content .Commodity-infor-nonvehical .number-box .reduce, .submitorder-content .Commodity-infor-nonvehical .number-box .increase {
  width: 50upx;
  height: 42upx;
  line-height: 42upx;
  text-align: center;
}
.submitorder-content .Commodity-infor-nonvehical .number-box .reduce .iconfont, .submitorder-content .Commodity-infor-nonvehical .number-box .increase .iconfont {
  font-size: 30upx;
  color: #17212E;
}
.submitorder-content .Commodity-infor-nonvehical .number-box .numberbox {
  font-size: 26upx;
  color: #17212E;
  width: 70upx;
  text-align: center;
  height: 42upx;
  line-height: 42upx;
  border-left: 2upx solid #E1E1E1;
  border-right: 2upx solid #E1E1E1;
}
.submitorder-content .Insurance-infor {
  background-color: #FFFFFF;
  margin-bottom: 20upx;
}
.submitorder-content .Insurance-infor .Insurance-infor-title {
  padding: 22upx 30upx;
  border-bottom: 1upx solid #EFEFEF;
}
.submitorder-content .Insurance-infor .Insurance-infor-list {
  padding: 0 30upx;
  box-sizing: border-box;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .subtotal {
  width: 100%;
  padding: 18upx 0;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .subtotal .subtotaltxt {
  color: #70767F;
  font-size: 20upx;
  margin-right: 8upx;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .subtotal .subtotalicon {
  color: #F57C40;
  font-size: 20upx;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .subtotal .subtotalmoney {
  color: #F57C40;
  font-size: 34upx;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .cell {
  padding: 18upx 30upx;
  border-bottom: 1upx solid #F5F5F5;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .cell uni-view {
  font-size: 26upx;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .cell .cellR {
  font-size: 30upx;
  color: #70767F;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .cell .tax-rate {
  color: #70767F;
}
.submitorder-content .Insurance-infor .Insurance-infor-list .cell .view-policy {
  color: #1371F7;
}

.customerorderdetails .sum {
  padding: 18upx 0;
  color: #70767F;
  font-size: 20upx;
}
.customerorderdetails .sum .icon-yuan {
  color: #F57C40;
}
.customerorderdetails .sum .money {
  font-size: 34upx;
  color: #F57C40;
}
.customerorderdetails .blueline-title {
  background-color: #FFFFFF;
  border-bottom: 1upx solid #F5F5F5;
  padding: 24upx 0;
  padding-left: 50upx;
  position: relative;
  font-size: 34upx;
  color: #17212E;
  font-family: pingFangSC-Medium;
}
.customerorderdetails .blueline-title .blueline {
  position: absolute;
  top: 36upx;
  left: 30upx;
  width: 6upx;
  height: 33upx;
  border-radius: 3upx;
  background-color: #1371F7;
}
.customerorderdetails .baseinfo {
  width: 100%;
  height: 1220upx;
  position: relative;
  background-color: #FFFFFF;
  margin-bottom: 20upx;
}
.customerorderdetails .baseinfo .baseinfo-bg {
  width: 100%;
  height: 130upx;
  background: linear-gradient(to right, #41C5FF, #1371F7);
}
.customerorderdetails .baseinfo .content {
  position: absolute;
  left: 30upx;
  top: 24upx;
  width: 690upx;
  height: 1152upx;
  border-radius: 10upx;
  background: white;
  padding: 0 30upx;
  box-sizing: border-box;
  font-size: 30upx;
  box-shadow: 0px 16upx 80upx -8upx #dee5ec;
}
.customerorderdetails .baseinfo .content .ordernumT {
  border-bottom: 1upx dashed #EFEFEF;
}
.customerorderdetails .baseinfo .content .ordernumT .ordernum {
  padding-top: 30upx;
  padding-bottom: 26upx;
  width: 80%;
  color: #17212E;
}
.customerorderdetails .baseinfo .content .ordernumT .ordernum .time {
  display: block;
  color: #C3C3C3;
  font-size: 24upx;
}
.customerorderdetails .baseinfo .content .ordernumT .state {
  padding-top: 30upx;
  width: 20%;
  color: #F57C40;
  font-size: 26upx;
}
.customerorderdetails .baseinfo .content ._list ._cell {
  border-bottom: 1upx solid #EFEFEF;
  padding: 30upx 0;
}
.customerorderdetails .baseinfo .content ._list ._cell .title {
  color: #70767F;
}
.customerorderdetails .baseinfo .content ._list ._cell .value {
  color: #17212E;
}
.customerorderdetails .baseinfo .content ._list ._cell:last-child {
  border-bottom: none;
}
.customerorderdetails .related-old-order {
  background-color: #FFFFFF;
  margin-bottom: 20upx;
}
.customerorderdetails .related-old-order .title {
  padding: 34upx 30upx;
  border-bottom: 1upx solid #EFEFEF;
  color: #17212E;
  font-size: 30upx;
}
.customerorderdetails .related-old-order .old-order-list {
  color: #17212E;
}
.customerorderdetails .related-old-order .old-order-list .cell-1 {
  width: 100%;
  height: 40upx;
  margin-bottom: 24upx;
}
.customerorderdetails .related-old-order .old-order-list .cell-1 .ordernum {
  float: left;
  font-size: 26upx;
}
.customerorderdetails .related-old-order .old-order-list .cell-1 .orderstate {
  float: right;
  font-size: 26upx;
  color: #F57C40;
}
.customerorderdetails .related-old-order .old-order-list .name {
  font-family: pingFangSC-Medium;
  margin-bottom: 16upx;
  font-size: 34upx;
}
.customerorderdetails .related-old-order .old-order-list .carinfo {
  font-size: 30upx;
  margin-bottom: 24upx;
  line-height: 42upx;
}
.customerorderdetails .related-old-order .old-order-list .shopnums {
  width: 100%;
  height: 30upx;
}
.customerorderdetails .related-old-order .old-order-list .shopnums .nums {
  float: left;
  color: #70767F;
  font-size: 26upx;
}
.customerorderdetails .related-old-order .old-order-list .shopnums .nums .num {
  color: #17212E;
}
.customerorderdetails .related-old-order .old-order-list .shopnums .date {
  float: right;
  font-size: 24upx;
  color: #C3C3C3;
}
.customerorderdetails .customer-Infor {
  background-color: #FFFFFF;
  margin-bottom: 20upx;
}
.customerorderdetails .customer-Infor .content {
  padding: 0 30upx;
}
.customerorderdetails .customer-Infor .content .cell-headportrait {
  padding: 32upx 0;
  border-bottom: 1upx solid #F5F5F5;
}
.customerorderdetails .customer-Infor .content .cell-headportrait .character {
  display: block;
  width: 84upx;
  height: 84upx;
  border-radius: 50%;
  margin-right: 20upx;
}
.customerorderdetails .customer-Infor .content .cell-headportrait .name {
  height: 84upx;
  line-height: 84upx;
  color: #17212E;
  font-size: 34upx;
  font-family: pingFangSC-Medium;
}
.customerorderdetails .customer-Infor .content .info {
  padding-top: 26upx;
  padding-bottom: 28upx;
  border-bottom: 1upx solid #F5F5F5;
}
.customerorderdetails .customer-Infor .content .info .infoL {
  color: #70767F;
  font-size: 30upx;
}
.customerorderdetails .customer-Infor .content .info .infoR {
  color: #17212E;
  font-size: 30upx;
}
.customerorderdetails .customer-Infor .content .info .addressL {
  width: 30%;
}
.customerorderdetails .customer-Infor .content .info .addressR {
  width: 70%;
}
.customerorderdetails .customer-Infor .content .ownerinfo {
  color: #17212E;
  font-size: 26upx;
}
.customerorderdetails .customer-Infor .content .ownerinfo .title {
  padding: 18upx 0;
  border-bottom: 1upx solid #F5F5F5;
}
.customerorderdetails .customer-Infor .content .ownerinfo .list {
  padding-top: 26upx;
}
.customerorderdetails .customer-Infor .content .ownerinfo .list .cell {
  padding-bottom: 22upx;
}
.customerorderdetails .customer-Infor .content .ownerinfo .list .cell .cellL {
  color: #70767F;
}
.customerorderdetails .commodity-Infor .additional_title {
  background-color: #FFFFFF;
  padding: 18upx 30upx;
  color: #17212E;
  font-size: 26upx;
  border-bottom: 1upx solid #F5F5F5;
}
.customerorderdetails .commodity-Infor .goodsinfolist {
  background-color: #FFFFFF;
}
.customerorderdetails .commodity-Infor .goodsinfolist .newcarcell_f {
  margin-bottom: 26upx;
  border-bottom: 1upx solid #F9F9F9;
}
.customerorderdetails .commodity-Infor .goodsinfolist .newcarcell_f .goodavatar {
  width: 156upx;
  height: 116upx;
  overflow: hidden;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.customerorderdetails .commodity-Infor .goodsinfolist .newcarcell_f .carinfo {
  width: 610upx;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.customerorderdetails .commodity-Infor .goodsinfolist .newcarcell_f .carinfo .carname {
  font-size: 26upx;
  color: #17212E;
  line-height: 36upx;
  margin-bottom: 14upx;
}
.customerorderdetails .commodity-Infor .goodsinfolist .newcarcell_f .carinfo .listinfo {
  font-size: 24upx;
  color: #70767F;
  font-family: pingFangSC-regular;
  margin-bottom: 6upx;
}
.customerorderdetails .commodity-Infor .goodsinfolist .newcarcell_f .carinfo .listinfo .title {
  display: inline-block;
  width: 115upx;
  color: #C3C3C3;
  margin-right: 16upx;
}
.customerorderdetails .commodity-Infor .list {
  background-color: #FFFFFF;
  padding: 0 30upx;
  margin-bottom: 20upx;
}
.customerorderdetails .commodity-Infor .list .cell {
  font-size: 30upx;
  color: #70767F;
  padding: 28upx 0;
  border-bottom: 1upx solid #F5F5F5;
}
.customerorderdetails .commodity-Infor .list .cell .cellR {
  color: #17212E;
}
.customerorderdetails .commodity-Infor .list .cell .check_ {
  display: block;
  color: #1371F7;
  font-size: 26upx;
}
.customerorderdetails .commodity-Infor .list .cell .price {
  color: #F57C40;
  font-size: 34upx;
}
.customerorderdetails .commodity-Infor .list .cell .icon-yuan {
  font-size: 20upx;
}
.customerorderdetails .commodity-Infor .list .cell .tips {
  display: block;
  font-size: 20upx;
}
.customerorderdetails .commodity-Infor .list .cell:last-child {
  border: none;
}
.customerorderdetails .commodity-Infor .additional {
  margin-bottom: 20upx;
}
.customerorderdetails .commodity-Infor .additional .additional-cell {
  margin-bottom: 20upx;
  background-color: #FFFFFF;
}
.customerorderdetails .commodity-Infor .additional .actual-price {
  padding: 0 30upx;
}
.customerorderdetails .commodity-Infor .additional .actual-price .actual-price-cell {
  padding: 28upx 0;
  border-bottom: 1upx solid #F5F5F5;
}
.customerorderdetails .commodity-Infor .additional .actual-price .actual-price-cell .cellL {
  color: #70767F;
}
.customerorderdetails .commodity-Infor .additional .actual-price .actual-price-cell .cellL .check_ {
  display: block;
  font-size: 26upx;
  color: #1371F7;
}
.customerorderdetails .commodity-Infor .additional .actual-price .actual-price-cell .cellR {
  color: #17212E;
}
.customerorderdetails .commodity-Infor .additional .actual-price .actual-price-cell .cellR .on-board-btn {
  display: inline-block;
  font-size: 22upx;
  padding: 2upx 8upx;
  border-radius: 4upx;
  border: 1upx solid #E1E1E1;
}
.customerorderdetails .Insurance-infor .content {
  background-color: #FFFFFF;
}
.customerorderdetails .Insurance-infor .content .list .cell {
  padding: 18upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.customerorderdetails .Insurance-infor .content .list .cell .cellL {
  font-size: 26upx;
  color: #70767F;
}
.customerorderdetails .Insurance-infor .content .list .cell .cellR {
  font-size: 30upx;
  color: #17212E;
}
.customerorderdetails .Insurance-infor .content .list .cell .policy {
  font-size: 20upx;
  display: block;
}
.customerorderdetails .Insurance-infor .content .list .cell .policybtn {
  color: #1371F7;
  display: block;
}
.customerorderdetails .Payment-infor {
  margin-bottom: 20upx;
}
.customerorderdetails .Payment-infor .content {
  background-color: #FFFFFF;
}
.customerorderdetails .Payment-infor .content .list .cell {
  padding: 18upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.customerorderdetails .Payment-infor .content .list .cell .cellL {
  font-size: 30upx;
  color: #70767F;
}
.customerorderdetails .Payment-infor .content .list .cell .cellR {
  font-size: 30upx;
  color: #17212E;
}
.customerorderdetails .Payment-infor .content .list .cell:last-child {
  border: none;
}
.customerorderdetails .commom-content .notesL {
  width: 30%;
}
.customerorderdetails .commom-content .notesR {
  width: 70%;
}
.customerorderdetails .commom-content .content {
  background-color: #FFFFFF;
  padding: 0 30upx;
}
.customerorderdetails .commom-content .content .list .cell {
  padding: 18upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.customerorderdetails .commom-content .content .list .cell .cellL {
  font-size: 30upx;
  color: #70767F;
}
.customerorderdetails .commom-content .content .list .cell .cellR {
  font-size: 30upx;
  color: #17212E;
}
.customerorderdetails .commom-content .content .list .cell:last-child {
  border: none;
}
.customerorderdetails .mortgage-pro {
  margin-bottom: 20upx;
}
.customerorderdetails .mortgage-pro .loan-infor {
  margin-top: 20upx;
  padding: 18upx 30upx;
  color: #17212E;
  font-size: 26upx;
  border-bottom: 1upx solid #EFEFEF;
  background-color: #FFFFFF;
}
.customerorderdetails .delivery-infor {
  margin-bottom: 20upx;
}
.customerorderdetails .other-conventions {
  margin-bottom: 20upx;
}
.customerorderdetails .other-conventions .other-conventions-title {
  color: #17212E;
  font-size: 26upx;
  border-bottom: 1upx solid #F5F5F5;
  padding: 18upx 30upx;
  background-color: #FFFFFF;
}
.customerorderdetails .remarks-infor, .customerorderdetails .Invoice-infor {
  margin-bottom: 20upx;
}
.customerorderdetails .button-group {
  box-sizing: border-box;
  border-top: 1upx solid #EFEFEF;
  background-color: #FFFFFF;
}
.customerorderdetails .button-group .button-group-btn {
  padding: 24upx 0;
  color: #1371F7;
  font-size: 34upx;
  border-right: 1upx solid #EFEFEF;
}
.customerorderdetails .button-group .button-group-btn:last-child {
  border-right: 0;
}
.customerorderdetails .bottom-price {
  background-color: #FFFFFF;
  padding: 20upx 30upx;
}
.customerorderdetails .bottom-price .total {
  color: #70767F;
  font-size: 20upx;
}
.customerorderdetails .bottom-price .total .price-icon {
  margin-left: 8upx;
  color: #F57C40;
}
.customerorderdetails .bottom-price .total .price {
  font-size: 34upx;
  color: #F57C40;
  font-family: pingFangSC-Medium;
}
.customerorderdetails .bottom-price .discount {
  color: #262626;
}
.customerorderdetails .bottom-price .category {
  color: #70767F;
  font-size: 24upx;
}
.customerorderdetails .bottom-price .category .check {
  margin-left: 16upx;
  color: #1371F7;
  font-size: 24upx;
}
.customerorderdetails .popupbd .popup-content {
  background-color: #fff;
  padding-bottom: 30upx;
  color: #17212E;
  font-size: 30upx;
}
.customerorderdetails .popupbd .popup-content .popup-title {
  padding: 0 30upx;
  border-bottom: 1upx solid #EFEFEF;
}
.customerorderdetails .popupbd .popup-content .popup-title .popup-title-name {
  height: 90upx;
  line-height: 90upx;
  font-size: 34upx;
  font-family: pingFangSC-Medium;
}
.customerorderdetails .popupbd .popup-content .popup-title .popup-title-icon {
  height: 90upx;
}
.customerorderdetails .popupbd .popup-content .content {
  padding: 0 30upx;
  padding-bottom: 60upx;
}
.customerorderdetails .popupbd .popup-content .content .content-title .icon-choiceO {
  color: #1371F7;
  font-size: 20upx;
  margin-left: -6upx;
}
.customerorderdetails .popupbd .popup-content .content .content-title .time {
  display: inline-block;
  padding-left: 20upx;
  font-size: 24upx;
  color: #C3C3C3;
}
.customerorderdetails .popupbd .popup-content .content .remarks {
  padding: 30upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.customerorderdetails .popupbd .popup-content .content .textarea {
  padding: 18upx 0;
}
.customerorderdetails .popupbd .popup-content .content .textarea textarea {
  height: 260upx;
}
.customerorderdetails .popupbd .popup-content .content .content-contaner {
  border-left: 1upx solid #EFEFEF;
}
.customerorderdetails .popupbd .popup-content .content .content-contaner .content-contaner-tlt {
  font-size: 30upx;
  padding: 20upx 0 16upx 32upx;
}
.customerorderdetails .popupbd .popup-content .content .content-contaner .content-contaner-con {
  font-size: 26upx;
  color: #70767F;
  padding-left: 32upx;
  line-height: 42upx;
}
.customerorderdetails .popupbd .popup-content .content .comfirmbtns {
  display: flex;
}
.customerorderdetails .popupbd .popup-content .content .comfirmbtns uni-button[type=default] {
  justify-content: center;
  text-align: center;
  width: 690upx;
  height: 78upx;
  line-height: 78upx;
  border-radius: 78upx;
  padding: 0;
  background-color: #1371F7;
  color: #FFFFFF;
  font-size: 34upx;
}
.customerorderdetails .popupbd .popup-content .content .comfirmbtns uni-button[disabled][type=default] {
  width: 690upx;
  height: 78upx;
  line-height: 78upx;
  border-radius: 78upx;
  padding: 0;
  background-color: #E1E1E1;
  color: #FFFFFF;
  font-size: 34upx;
}

.shop-Mall .screen-bd .screen-bd-in {
  background-color: #FFFFFF;
  position: relative;
}
.shop-Mall .screen-bd .screen-bd-in .screen-btn {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 26upx 30upx;
  color: #000000;
  background: #FFFFFF;
}
.shop-Mall .screen-bd .screen-bd-in .screen-lists .screen-list-cell {
  display: inline-block;
  padding: 26upx 0;
  margin: 0 20upx;
  color: #70767F;
  font-size: 30upx;
}
.shop-Mall .screen-bd .screen-bd-in .screen-lists .screen-list-cell-on {
  color: #2F2F2F;
  font-family: pingFangSC-Medium;
  border-bottom: 4upx solid #1371F7;
}
.shop-Mall .screen-bd .screen-bd-in .screen-lists .Noactive {
  color: #C3C3C3;
}
.shop-Mall .goods-lists .goods-titles {
  font-size: 26upx;
  color: #70767F;
}
.shop-Mall .goods-lists .newcarlist_c .uni-gri-s {
  padding-left: 16upx;
  overflow: hidden;
}
.shop-Mall .goods-lists .newcarlist_c .uni-gri-s .uni-grid-item-s {
  width: 350upx;
  margin-right: 16upx;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}
.shop-Mall .goods-lists .newcarlist_c .uni-gri-s .uni-grid-item-s .carinfo .proname {
  text-align: center;
  font-size: 26upx;
  color: #17212E;
  line-height: 42upx;
  padding: 14px 0;
}
.shop-Mall .goods-lists .newcarlist_c .uni-gri-s .proImage {
  width: 100%;
}
.shop-Mall .sortFilter .screen-bd {
  width: 100%;
  height: 88upx;
  position: relative;
}
.shop-Mall .sortFilter .screen-bd .screen-bd-in {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
}
.shop-Mall .sortFilter .screen-bd .screen-bd-in .lists {
  background: #FFFFFF;
}
.shop-Mall .sortFilter .screen-bd .screen-bd-in .lists .list-cell {
  padding: 20upx 0;
  color: #17212E;
  font-size: 34upx;
  border-bottom: 2upx solid #EFEFEF;
}
.shop-Mall .sortFilter .screen-bd .screen-bd-in .lists .list-cell .txt {
  width: 90%;
  padding-right: 20upx;
}
.shop-Mall .sortFilter .screen-bd .screen-bd-in .lists .list-cell .iconbtn {
  width: 10%;
}
.shop-Mall .sortFilter .screen-bd .screen-bd-in .lists .list-cell .iconbtn .iconfont {
  color: #17212E;
}
.shop-Mall .sortFilter .screen-bd .screen-bd-in .lists .list-cell .currentConditionT {
  font-size: 34upx;
}
.shop-Mall .sortFilter .screen-bd .mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.4;
  z-index: 10;
}
.shop-Mall .sortFilter .screen-bd .screen {
  color: #000000;
  font-size: 26upx;
}
.shop-Mall .sortFilter .screen-bd .screen .iconfont {
  color: #999999;
  font-size: 24upx;
}
.shop-Mall .sortFilter .screen-bd .on {
  color: #1371F7;
}
.shop-Mall .sortFilter .screen-condition {
  color: #70767F;
  font-size: 26upx;
  padding: 18upx 30upx;
}
.shop-Mall .classification .newcarlist_s .uni-gri-s {
  padding-left: 16upx;
  overflow: hidden;
}
.shop-Mall .classification .newcarlist_s .uni-gri-s .uni-grid-item-s {
  width: 350upx;
  margin-right: 16upx;
  margin-bottom: 16upx;
  background: #FFFFFF;
  border-radius: 8px;
  float: left;
}
.shop-Mall .classification .newcarlist_s .uni-gri-s .uni-grid-item-s .carinfo .proname {
  font-size: 30upx;
  color: #17212E;
  line-height: 42upx;
}
.shop-Mall .classification .newcarlist_s .uni-gri-s .uni-grid-item-s .carinfo .proprice {
  font-size: 34upx;
  color: #F57C40;
  font-family: pingFangSC-Medium;
}
.shop-Mall .classification .newcarlist_s .uni-gri-s .uni-grid-item-s .carinfo .proprice .icon-money, .shop-Mall .classification .newcarlist_s .uni-gri-s .uni-grid-item-s .carinfo .proprice .icon-wanyuan {
  font-size: 20upx;
  font-family: pingFangSC-regular;
}
.shop-Mall .classification .newcarlist_s .uni-gri-s .uni-grid-item-s .carinfo .pronum {
  font-size: 20upx;
  color: #70767F;
}
.shop-Mall .classification .newcarlist_s .uni-gri-s .proImage {
  width: 100%;
}
.shop-Mall .carlist .newcarlist_f {
  background-color: #FFFFFF;
}
.shop-Mall .carlist .newcarlist_f .newcarcell_f {
  margin-bottom: 26upx;
  border-bottom: 1upx solid #F9F9F9;
}
.shop-Mall .carlist .newcarlist_f .newcarcell_f .carinfo .proname {
  font-size: 30upx;
  color: #17212E;
  height: 80upx;
  line-height: 42upx;
}
.shop-Mall .carlist .newcarlist_f .newcarcell_f .carinfo .proprice {
  font-size: 34upx;
  color: #F57C40;
  font-family: pingFangSC-Medium;
}
.shop-Mall .carlist .newcarlist_f .newcarcell_f .carinfo .proprice .icon-money, .shop-Mall .carlist .newcarlist_f .newcarcell_f .carinfo .proprice .icon-wanyuan {
  font-size: 20upx;
  font-family: pingFangSC-regular;
}
.shop-Mall .carlist .newcarlist_f .newcarcell_f .carinfo .pronum {
  font-size: 20upx;
  color: #70767F;
}
.shop-Mall .vehicle-details-bd img {
  display: block;
}
.shop-Mall .vehicle-details-bd .vehicle-details {
  background-color: #FFFFFF;
  margin-bottom: 24upx;
}
.shop-Mall .vehicle-details-bd .vehicle-details .carname {
  padding: 0 30upx;
  font-size: 36upx;
  color: #2F2F2F;
  margin-bottom: 22upx;
  font-family: pingFangSC-Medium;
}
.shop-Mall .vehicle-details-bd .vehicle-details .proprice {
  background-color: #FFFFFF;
  padding: 0 30upx;
  font-size: 34upx;
  color: #F57C40;
  font-family: pingFangSC-Medium;
}
.shop-Mall .vehicle-details-bd .vehicle-details .proprice .icon-money, .shop-Mall .vehicle-details-bd .vehicle-details .proprice .icon-wanyuan {
  font-size: 20upx;
  font-family: pingFangSC-regular;
}
.shop-Mall .vehicle-details-bd .vehicle-details .proprice .delprice {
  font-size: 20upx;
  color: #70767F;
  margin-left: 8upx;
  font-family: pingFangSC-regular;
}
.shop-Mall .vehicle-details-bd .vehicle-details .express-fee {
  padding: 0 30upx;
  margin-top: 32upx;
  margin-bottom: 44upx;
  font-size: 24upx;
  color: #70767F;
  font-family: pingFangSC-regular;
}
.shop-Mall .vehicle-details-bd .tabs {
  background-color: #FFFFFF;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-nav {
  border-bottom: 1upx solid #EFEFEF;
  padding: 0 30upx;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-nav .tabs-nav-cell {
  position: relative;
  padding: 20upx 0;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-nav .tabs-nav-cell .line {
  display: none;
  width: 60upx;
  height: 6upx;
  background-color: #1371F7;
  border-radius: 4upx;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  margin-left: -30upx;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-nav .on .line {
  display: inline-block;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-content {
  padding: 0 30upx;
  box-sizing: border-box;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-content img {
  border: 1upx solid #F5F5F5;
  width: 100%;
  border-radius: 4upx;
  margin-bottom: 20upx;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-btn {
  padding: 0 30upx;
  padding-bottom: 20upx;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-btn uni-button[type=default] {
  background-color: #1371F7;
  color: #FFFFFF;
  font-size: 34upx;
  height: 78upx;
  line-height: 78upx;
  border-radius: 78upx;
}
.shop-Mall .vehicle-details-bd .tabs .tabs-btn uni-button:after {
  border: 0;
}

.consultants .mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  opacity: 0.4;
  z-index: 1;
}
.consultants .screen-bd {
  width: 100%;
  height: 110upx;
  position: relative;
}
.consultants .screen-bd .screen-bd-in {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  margin-bottom: 20upx;
}
.consultants .screen-bd .screen-bd-in .dialogcontent {
  background: #FFFFFF;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .tlt {
  font-size: 30upx;
  color: #17212E;
  font-family: pingFangSC-Medium;
  padding: 28upx 30upx;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .controw {
  display: flex;
  align-items: center;
  justify-content: center;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .cont .separator {
  display: inline-block;
  padding: 0 20upx;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .cont .filterperiod {
  width: 230upx;
  height: 60upx;
  line-height: 60upx;
  font-size: 26upx;
  color: #70767F;
  display: block;
  padding-right: 62upx;
  background: #f9f9f9;
  border-radius: 8upx;
  position: relative;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .cont .filterperiod .iconcalendar {
  position: absolute;
  right: 20upx;
  width: 36upx;
  height: 36upx;
  top: 12upx;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .cont .btns {
  display: inline-block;
  background: #f9f9f9;
  color: #70767F;
  font-size: 26upx;
  border-radius: 8upx;
  padding: 12upx 0;
  margin-left: 20upx;
  margin-bottom: 20upx;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .cont .btnsActive {
  background: #c1d6f5;
  color: #1371F7;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .cont .btnsSm {
  width: 160upx;
  text-align: center;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .cont .btnsMm {
  width: 336upx;
  text-align: center;
}
.consultants .screen-bd .screen-bd-in .dialogcontent .cont .btnsLm {
  width: 690upx;
  text-align: center;
}
.consultants .screen-bd .screen-bd-in .btns {
  font-size: 34upx;
  border-top: 1upx solid #EFEFEF;
}
.consultants .screen-bd .screen-bd-in .btns .resetBtn {
  width: 50%;
  height: 97upx;
  line-height: 97upx;
  text-align: center;
  color: #17212E;
  background-color: #FFFFFF;
}
.consultants .screen-bd .screen-bd-in .btns .comfirmBtn {
  width: 50%;
  height: 97upx;
  line-height: 97upx;
  text-align: center;
  color: #FFFFFF;
  background-color: #1371F7;
}
.consultants .screen-bd .screen {
  display: inline-block;
}
.consultants .screen-bd .screen uni-button[size=mini] {
  color: #17212E;
  font-size: 26upx;
  padding: 6upx 30upx;
  border-radius: 52upx;
  background: #F9F9F9;
}
.consultants .screen-bd .screen uni-button:after {
  border: 0;
}
.consultants .screen-bd .on uni-button[size=mini] {
  background: #1371F7;
  color: #FFFFFF;
}
.consultants .screen-bd .screen-condition {
  color: #70767F;
  font-size: 26upx;
  padding: 18upx 0;
}
.consultants .consultants-lists {
  background-color: #F5F5F5;
  padding: 0 30upx;
  padding-top: 20upx;
  box-sizing: border-box;
}
.consultants .consultants-lists .consultants-lists-cell {
  box-sizing: border-box;
  margin-top: 20upx;
  background-color: #FFFFFF;
  border-radius: 8upx;
  width: 100%;
  padding: 0 30upx;
  color: #17212E;
  font-size: 26upx;
}
.consultants .consultants-lists .consultants-lists-cell .ordernum {
  padding-top: 24upx;
}
.consultants .consultants-lists .consultants-lists-cell .ordernum .ordernumL {
  width: 75%;
}
.consultants .consultants-lists .consultants-lists-cell .ordernum .ordernumR {
  width: 25%;
}
.consultants .consultants-lists .consultants-lists-cell .ordernum .date {
  color: #C3C3C3;
  font-size: 24upx;
  display: block;
}
.consultants .consultants-lists .consultants-lists-cell .ordernum .attribute {
  color: #262626;
  font-size: 22upx;
  padding: 0upx 8upx;
  border-radius: 4upx;
  border: 1px solid #E1E1E1;
  margin-left: 6upx;
  display: inline-block;
}
.consultants .consultants-lists .consultants-lists-cell .ordernum .state {
  color: #F57C40;
}
.consultants .consultants-lists .consultants-lists-cell .ordercontant {
  padding-top: 20upx;
  color: #70767F;
  font-size: 22upx;
}
.consultants .consultants-lists .consultants-lists-cell .ordercontant .ordername {
  font-family: pingFangSC-Medium;
  color: #17212E;
  font-size: 34upx;
}
.consultants .consultants-lists .consultants-lists-cell .ordercontant .orderphone {
  width: 48upx;
}
.consultants .consultants-lists .consultants-lists-cell .carinfo {
  padding-top: 16upx;
  display: block;
  width: 630upx;
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
  font-size: 30upx;
}
.consultants .consultants-lists .consultants-lists-cell .detailslist {
  padding-bottom: 14upx;
}
.consultants .consultants-lists .consultants-lists-cell .detailslist .text {
  display: inline-block;
  color: #70767F;
  width: 140upx;
}
.consultants .consultants-lists .consultants-lists-cell .detailslist .value {
  flex: 1;
  display: inline-block;
  color: #17212E;
}
.consultants .consultants-lists .consultants-lists-cell .detailslist .value .position {
  display: block;
  font-size: 20upx;
  color: #70767F;
}
.consultants .consultants-lists .consultants-lists-cell .detailslist .edit-more-btn {
  position: relative;
}
.consultants .consultants-lists .consultants-lists-cell .detailslist .edit-more-btn .icon-more {
  width: 40upx;
}
.consultants .consultants-lists .consultants-lists-cell .detailslist .edit-more-btn .edit-lists {
  position: absolute;
  z-index: 10;
  top: 56upx;
  right: 0;
  background-color: #FFFFFF;
  padding-top: 34upx;
  border-radius: 10upx;
  box-shadow: 0px 8px 40px -4px #dee5ec;
}
.consultants .consultants-lists .consultants-lists-cell .detailslist .edit-more-btn .edit-lists text {
  text-align: center;
  display: block;
  padding: 0 32upx;
  padding-bottom: 36upx;
  font-size: 30upx;
}
.consultants .consultants-lists .consultants-lists-cell .shopnumber {
  padding-top: 16upx;
}
.consultants .consultants-lists .consultants-lists-cell .shopnumber .text {
  margin-top: 8upx;
  color: #70767F;
}
.consultants .consultants-lists .consultants-lists-cell .shopnumber .value {
  margin-top: 8upx;
  font-family: pingFangSC-Medium;
}
.consultants .consultants-lists .consultants-lists-cell .shopnumber .edit-more-btn {
  position: relative;
}
.consultants .consultants-lists .consultants-lists-cell .shopnumber .edit-more-btn .icon-more {
  width: 40upx;
}
.consultants .consultants-lists .consultants-lists-cell .shopnumber .edit-more-btn .edit-lists {
  position: absolute;
  z-index: 10;
  top: 56upx;
  right: 0;
  background-color: #FFFFFF;
  padding-top: 34upx;
  box-shadow: 0px 8px 40px -4px #dee5ec;
}
.consultants .consultants-lists .consultants-lists-cell .shopnumber .edit-more-btn .edit-lists text {
  text-align: center;
  display: block;
  padding: 0 32upx;
  padding-bottom: 36upx;
  font-size: 30upx;
}
.consultants .uniyy-page-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.consultants .uniyy-page-head .hx-navbarr .ctn5 {
  border-radius: 40px;
  padding: 10upx 20upx;
  width: 100%;
  display: flex;
  line-height: 44upx;
  margin: 8upx 30upx;
  background-color: #F9F9F9;
  background-color: #FFFFFF;
}
.consultants .uniyy-page-head .hx-navbarr .ctn5 .txt {
  color: #C3C3C3;
}
.consultants .uniyy-page-head .hx-navbarr .add {
  padding-right: 10upx;
}
.consultants .uniyy-page-head .hx-navbarr .add .iconfont {
  font-size: 40upx;
}
.consultants .uniyy-page-head .dropdown {
  position: fixed;
  top: 88upx;
  right: 30upx;
  width: 310upx;
  background-color: #FFFFFF;
  box-shadow: 10upx 5upx 5upx #F5F5F5;
  border-radius: 10upx;
  z-index: 10000;
}
.consultants .uniyy-page-head .dropdown .options {
  color: #17212E;
  font-size: 30upx;
  padding: 18upx 30upx;
  font-family: pingFangSC-regular;
}
.consultants .uni-navbar__header-btns-left {
  display: none;
}
.consultants .renavbar {
  width: 100% !important;
}
.consultants .renavbar .iconfont {
  font-size: 30upx;
  color: #000000;
}

.manager .manager-hx-navbar .managerorderlist-nav {
  width: 100%;
}
.manager .manager-hx-navbar .navbar {
  position: relative;
  padding-bottom: 15upx;
  color: #70767F;
  font-size: 30upx;
}
.manager .manager-hx-navbar .navbar .line {
  position: absolute;
  display: none;
  width: 32upx;
  height: 10upx;
  background-color: #1371F7;
  border-radius: 5upx;
  bottom: 0;
  left: 50%;
  z-index: 15;
  margin-left: -16upx;
}
.manager .manager-hx-navbar .on {
  color: #2F2F2F;
  font-size: 36upx;
  font-family: pingFangSC-Medium;
}
.manager .manager-hx-navbar .on .line {
  z-index: 15;
  display: inline-block;
}
.manager .manager-hx-navbar .iconfont {
  font-size: 40upx;
}
.manager .manager-hx-navbar .search_icon {
  margin-right: 30upx;
}
.manager .manager-list {
  background-color: #F5F5F5;
  padding: 0 30upx;
  box-sizing: border-box;
}
.manager .manager-list .Checkpopup .popup-content {
  width: 690upx;
  background-color: #FFFFFF;
  border-radius: 20upx;
  padding-bottom: 48upx;
}
.manager .manager-list .Checkpopup .popup-content .toptitle {
  padding: 20upx;
}
.manager .manager-list .Checkpopup .popup-content .checkList {
  padding-left: 48upx;
  font-size: 30upx;
}
.manager .manager-list .Checkpopup .popup-content .checkList .title {
  color: #C3C3C3;
  margin-right: 20upx;
}
.manager .manager-list .Checkpopup .popup-content .checkList .value {
  color: #17212E;
}
.manager .manager-list .manager-lists-cell {
  box-sizing: border-box;
  margin-top: 20upx;
  background-color: #FFFFFF;
  border-radius: 8upx;
  width: 100%;
  padding: 0 30upx;
  color: #17212E;
  font-size: 26upx;
}
.manager .manager-list .manager-lists-cell .ordernum {
  padding-top: 24upx;
}
.manager .manager-list .manager-lists-cell .ordernum .date {
  color: #C3C3C3;
  font-size: 24upx;
  display: block;
}
.manager .manager-list .manager-lists-cell .ordernum .state {
  color: #F57C40;
}
.manager .manager-list .manager-lists-cell .name {
  color: #17212E;
  font-family: pingFangSC-Medium;
}
.manager .manager-list .manager-lists-cell .ordercontant {
  padding-top: 20upx;
  color: #70767F;
  font-size: 22upx;
}
.manager .manager-list .manager-lists-cell .ordercontant .ordername {
  font-family: pingFangSC-Medium;
  color: #17212E;
  font-size: 34upx;
}
.manager .manager-list .manager-lists-cell .carinfo {
  padding-top: 16upx;
  display: block;
  width: 630upx;
  overflow: hidden;
  /*超出部分隐藏*/
  white-space: nowrap;
  /*不换行*/
  text-overflow: ellipsis;
  /*超出部分文字以...显示*/
  font-size: 30upx;
}
.manager .manager-list .manager-lists-cell .shopnumber {
  padding-top: 16upx;
}
.manager .manager-list .manager-lists-cell .shopnumber .text {
  margin-top: 8upx;
  color: #70767F;
}
.manager .manager-list .manager-lists-cell .shopnumber .value {
  margin-top: 8upx;
  font-family: pingFangSC-Medium;
}
.manager .manager-list .manager-lists-cell .shopnumber .consult-btn {
  color: #1371F7;
  margin-left: 32upx;
}
.manager .screenBD .mask {
  position: fixed;
  z-index: 10;
  background-color: #000000;
  opacity: 0.4;
  width: 100%;
  height: 100vh;
}
.manager .screenBD .screenbody {
  position: fixed;
  z-index: 11;
  background-color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
  top: 88upx;
  left: 0;
  max-height: 800upx;
}
.manager .screenBD .screenbody .screencontent {
  height: 700upx;
}
.manager .screenBD .screenbody .screencontent .contentin {
  height: 700upx;
  overflow: scroll;
  padding: 0 30upx;
}
.manager .screenBD .screenbody .screencontent .contentin .title {
  font-size: 30upx;
  color: #17212E;
  font-family: pingFangSC-Medium;
  padding: 28upx 0;
}
.manager .screenBD .screenbody .screencontent .contentin .date {
  justify-content: center;
  padding-bottom: 20upx;
}
.manager .screenBD .screenbody .screencontent .contentin .date .line {
  padding: 0 20upx;
}
.manager .screenBD .screenbody .screencontent .contentin .date .starttime {
  width: 230upx;
  height: 60upx;
  line-height: 60upx;
  font-size: 26upx;
  color: #70767F;
  display: block;
  padding-right: 62upx;
  background: #f9f9f9;
  border-radius: 8upx;
  position: relative;
}
.manager .screenBD .screenbody .screencontent .contentin .date .starttime .iconcalendar {
  float: right;
  position: absolute !important;
  right: 20upx;
  width: 36upx;
  height: 36upx;
  top: 12upx;
}
.manager .screenBD .screenbody .screencontent .contentin .date .endtime {
  width: 230upx;
  height: 60upx;
  line-height: 60upx;
  font-size: 26upx;
  color: #70767F;
  display: block;
  padding-right: 62upx;
  background: #f9f9f9;
  border-radius: 8upx;
  position: relative;
}
.manager .screenBD .screenbody .screencontent .contentin .date .endtime .iconcalendar {
  position: absolute !important;
  float: right;
  z-index: 10000;
  right: 20upx;
  width: 36upx;
  height: 36upx;
  top: 12upx;
}
.manager .screenBD .screenbody .screencontent .contentin .choices .lists {
  flex-wrap: wrap;
  justify-content: space-between;
}
.manager .screenBD .screenbody .screencontent .contentin .choices .lists .cell {
  width: 150upx;
  height: 60upx;
  line-height: 60upx;
  background: #F9F9F9;
  color: #70767F;
  font-size: 26upx;
  border-radius: 8upx;
  margin-right: 20upx;
  text-align: center;
  margin-bottom: 22upx;
  overflow: hidden;
}
.manager .screenBD .screenbody .screencontent .contentin .choices .lists .on {
  background: #dcf1fb;
  color: #1371F7;
}
.manager .screenBD .screenbody .buttons {
  width: 100%;
  height: 100upx;
  background-color: #FFFFFF;
  border-top: 1upx solid #EFEFEF;
}
.manager .screenBD .screenbody .buttons .reset {
  width: 50%;
  text-align: center;
  line-height: 100upx;
  font-size: 34upx;
  color: #17212E;
}
.manager .screenBD .screenbody .buttons .confirm {
  background-color: #1371F7;
  width: 50%;
  line-height: 100upx;
  text-align: center;
  font-size: 34upx;
  color: #FFFFFF;
}

.usedCar .baseinfo {
  height: 190upx;
  margin: 0;
}
.usedCar .baseinfo .content {
  height: 140upx;
}
.usedCar .baseinfo .content .ordernumT {
  border: 0px;
}
.usedCar .bottomgroup .bottomgroupbtn {
  height: 98upx;
  line-height: 98upx;
  text-align: center;
}
.usedCar .bottomgroup .save {
  background-color: #ffffff;
  color: #17212E;
  font-size: 34upx;
}
.usedCar .bottomgroup .submitb {
  background-color: #1371F7;
  color: #FFFFFF;
  font-size: 34upx;
}
.usedCar .content {
  background-color: #FFFFFF;
}
.usedCar .content .list {
  padding: 0 30upx;
}
.usedCar .content .list .cell {
  padding: 28upx 0;
  border-bottom: 1upx solid #EFEFEF;
}
.usedCar .content .list .cell .notesL {
  width: 50%;
  font-size: 30upx;
  color: #70767F;
}
.usedCar .content .list .cell .notesR {
  width: 50%;
  font-size: 30upx;
  color: #17212E;
}
.usedCar .content .list .cell:last-child {
  border: 0;
}
.usedCar .content .list .ownertitle {
  padding: 16upx 0;
  color: #17212E;
  font-size: 26upx;
  margin-bottom: 30upx;
}
.usedCar .content .list .ownerconcell {
  padding-bottom: 22upx;
}
.usedCar .content .list .ownerconcell .notesL {
  width: 50%;
  font-size: 26upx;
  color: #70767F;
}
.usedCar .content .list .ownerconcell .notesR {
  width: 50%;
  font-size: 26upx;
  color: #17212E;
}